{% extends 'base.html.twig' %}

{% block title %}Edit Seance{% endblock %}

{% block body %}

    <div class="film-add">
        <div class="film-add-container">

            <div class="film-add-title"><h2>Edit Seance</h2></div>

            {{ include('seance/_form.html.twig', {'button_label': 'Update'}) }}


            <div class="seance-btn">
                {{ include('seance/_delete_form.html.twig') }}
            </div>

            <a href="{{ path('seance_index') }}">back to list</a>

        </div>
    </div>

{% endblock %}
