body {
    margin: 0;
    font-family: sans-serif;
}


/* --------------------------------------- Navbar --------------------------------------- */

nav.nav {
    background: #014160;
    display: block;
    text-align: center;
}

nav.nav div {
    display: inline-flex;
}

nav.nav a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    margin: 0 10px;
}

nav.nav a:after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: silver;
    transition: .2s all;
}

nav.nav a:hover:after {
    content: '';
    width: 30%;
}


/* -------------------------------------- Film list ------------------------------------- */

.films {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.films .film-container {
    display: inline-block;
    border: 1px solid #ebebeb;
    padding: 10px;
    width: 198px;
    display: block;
    transition: .2s all;
    margin: 0 10px 30px;
    position: relative;
    cursor: pointer;
}

.films .film-container a {
    text-decoration: none;
    color: black;
}

.film .film-description,
.film .film-realisateur,
.film .film-genre,
.film .film-date {
    font-size: 0.9em;
    line-height: 1.4em;
}

.films .film-icons {
    position: absolute;
    top: 10px;
    transition: .3s all;
    right: -6px;
    opacity: 0;
}

.films .film-container:hover .film-icons {
    right: 10px;
    opacity: 1;
}

.film-buttons {
    padding: 40px 0 0;
}

.films .film-icons a {
    display: block;
    padding: 4px;
    border: 1px solid silver;
    margin: 5px 5px 8px 0;
    background: rgb(255 255 255 / 85%);
    transition: .2s all;
}

.films .film-icons a:hover {
    background: rgb(0 0 0 / 85%);
    color: white;
}

.films .film-container:hover {
    border: 1px solid silver;
    box-shadow: 0 0 5px 0px silver;
}

.films .row-film-image {
    text-align: center;
}

.films .row-film-image img {
    width: 100%;
}

.films .film-title {
    font-size: 1em;
    padding: 5px 0 5px;
}

.films .film-genre {
    font-size: 0.7em;
    padding: 3px 0 0px;
}


/* ------------------------------------ Film views page --------------------------------- */

.film {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.film .film-container {
    display: flex;
    width: 100%;
    padding-bottom: 45px;
    position: relative;
}

.film .row-film-image {
    width: 50%;
    padding: 10px;
    border: 1px solid silver;
}

.film-container img {
    width: 100%;
    border-radius: 3px;
}

.film .row-film-info {
    width: 100%;
    padding: 10px;
}

.film-buttons a {
    padding: 5px 15px;
    transition: .2s all;
    margin-right: 15px;
}

.film-buttons a:nth-child(1) {}

.film-buttons a:nth-child(2) {
    border: 1px solid #9e0303;
    text-decoration: none;
    color: #9e0303;
}

.film-buttons a:nth-child(2):hover {
    border: 1px solid #640202;
    color: #640202;
}

.film-buttons a:nth-child(3) {
    border: 1px solid #115e02;
    background-color: #115e02;
    text-decoration: none;
    color: #ffffff;
}

.film-buttons a:nth-child(3):hover {
    border: 1px solid #0a3502;
    background-color: #0a3502;
}


/* -------------------------------------- Film form -------------------------------------- */

.film-add {
    max-width: 1200px;
    margin: 60px auto;
}

.film-add .film-add-container {
    border: 1px solid silver;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 40px 30px;
    position: relative;
}

.film-add .film-add-title {
    padding: 10px 25px 0;
    text-align: center;
}

.film-add .film-add-container form {
    padding: 0 25px;
}

.film-add .film-add-container form div {
    position: relative;
}

.film-add .film-add-container form label {
    display: block;
    padding: 20px 0 5px;
    font-size: 0.9em;
}

.film-add .film-add-container form input {
    display: block;
    width: 100%;
    line-height: 1.8em;
}

.film-add .film-add-container form textarea {
    display: block;
    width: 100%;
    min-height: 130px
}

div#seance_dateDebut_date,
div#seance_dateDebut_time,
div#seance_createdAt_date,
div#seance_createdAt_time,
div#seance_updatedAt_date,
div#seance_updatedAt_time {
    display: flex;
    padding: 5px 0;
}

.film-add .film-add-container select {
    display: block;
    width: 100%;
    line-height: 1.8em;
    padding: 6px 0;
}

.film-add .film-add-container form ul {
    padding: 0;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.film-add .film-add-container form li {
    font-size: 0.7em;
    list-style: none;
    color: red;
}

.film-add .film-add-container form button {
    border: 1px solid #115e02;
    background-color: #115e02;
    text-decoration: none;
    color: #ffffff;
    padding: 7px 40px;
    transition: .2s all;
    margin: 45px auto;
    display: block;
    cursor: pointer;
}

.seance-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.seance-btn button {
    background: white !important;
    border: 1px solid red !important;
    padding: 7px 10px !important;
    color: red !important;
    transition: .2s all;
}

.seance-btn button:hover {
    border: 1px solid red !important;
    background-color: red!important;
    color: white!important;
}