{% extends 'base.html.twig' %}

{% block title %}Nouvelle salle{% endblock %}

{% block body %}

    <div class="film-add">
        <div class="film-add-container">

            <div class="film-add-title">
                <h2>Nouvelle salle</h2>
            </div>

            {{ include('salle/_form.html.twig') }}

            <a href="{{ path('salle_index') }}">Revenir à la liste</a>
        </div>
    </div>

{% endblock %}
