<nav class="nav">
    <div>
        <a href="/" title="" >Tous les films</a>
        <a href="/seance" title="" >Séances</a>
        <a href="/film_add" title="" >Ajouter un film</a>
        <a href="/seance/new" title="" >Ajouter une séance</a>
    </div>
</nav>