<nav class="nav">
    <div class="site-logo">
    <img src="https://57webbee.com/wp-content/themes/tajweb/assets/images/logo.png" alt="" /></div>
    <div>
        <a href="/" title="57webbee" >Films</a>
        <a href="/seance" title="" >Séances</a>
        <a href="/salle" title="" >Salles</a>
        <a href="/film_add" title="" >Ajouter un film</a>
        <a href="/seance/new" title="" >Ajouter une séance</a>
        <a href="/salle/new" title="" >Ajouter une salle</a>
    </div>
</nav>